/*-------------------------------------------------------------WEBLOGIN/WEBLANDING---------------------------------------------*/
*{font-family:'Raleway',Helvetica,sans-serif;}
.bodylanding,.bodylogin{background-color:#1E2832;text-align:center;display:inline-block !important;width:100%;color:#fff;margin:0;}
#banner{padding:5em 1em 3em 1em;background-color:#1E2832;text-align:center;}
.actions{padding:0;width:100%;display:inline-block;max-width:500px;}
.inputland{color:white;cursor:pointer;border-radius:4px;border-style:solid;border-width:1px;display:block;outline:0;padding:0 1em;text-decoration:none;line-height:2em;width:100%;background-color:rgba(144,144,144,0.075);border-color:rgba(144,144,144,0.25);height:3.5em;font-size:12pt;font-weight:400;}
.marg{margin:1em 0em;}.marg2{margin:2em 0;}
.title{cursor:pointer;border: solid white;border-width: 0 0 1px 0;padding: 1em;}
.alt,.sp{width:70%;background-color:#51BAA4;transition:background-color 0.2s ease-in-out,color 0.2s ease-in-out;border-radius:2.5em;border:0;cursor:pointer;display:inline-block;font-weight:700;height:2.85em;line-height:2.95em;text-align:center;text-decoration:none;text-transform:uppercase;white-space:nowrap;}
.alt{background-color:transparent;box-shadow:inset 0 0 0 2px #51BAA4;color:#51BAA4 !important;}
.col-2{width:48%;display:inline-block;}
#recoverpass{text-align:center;cursor:pointer;}
.event,.received{display:block;}
.img{width:7em;}
/*-------------------------------------------------------------WEBUSER--------------------------------------------------------*/
.userbody{text-align:center;display:inline-block !important;width:100%;margin:0;background-color:rgb(249,252,255);min-width:200px;color:#777}
#header{min-width:200px !important;height:44px;line-height:44px;background:#07090c;color:rgba(255,255,255,0.75);cursor:default;text-align:right;width:100%;height:auto;}
#logo{float:left;margin-left:0.5em;}
a{font-size:1em;cursor:pointer;-moz-transition:color 0.2s ease-in-out;-webkit-transition:color 0.2s ease-in-out;-ms-transition:color 0.2s ease-in-out;transition:color 0.2s ease-in-out;color:#fff;display:inline-block;margin-right:1.25em;text-decoration:none;}
#tab{white-space:nowrap;line-height:normal;}
.selected{border-bottom:solid 4px white;transition:border-width 0.1s linear 0.1s;}
.inn{display:inline-block;width:49%;cursor:pointer;font-size:15px;padding:0.5em 0;text-align:center;color:white;white-space:nowrap;}
#botsnav{text-align:left; transition:transform 0.5s ease,box-shadow 0.5s ease,visibility 0.5s;padding:2.5em 1.75em;background:#07090c;color:#fff;height:100%;max-width:80%;overflow-y:auto;position:fixed;right:0;text-transform:uppercase;top:0;min-width:235px;z-index:10002;}
#closenav{height:4em;line-height:4em;text-decoration:none;transition:color 0.2s ease-in-out;border:0;color:#a5a9ad;cursor:pointer;display:block;padding-right:1.25em;position:absolute;right:0;text-align:right;top:0;vertical-align:middle;width:7em;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
ul{padding:0;list-style:none;}
li{line-height:3.5em;border:solid white;border-width:0 0 1px 0;}
.wrap{position:absolute;padding:2% 0 0 0;text-align:center;width:100%;left:50%;transform:translateX(-50%);}
.cont{margin-left:auto;margin-right:auto;width:90% !important;}
.table-wrap{overflow-y:auto;}
table{margin:0 0 2em 0;width:100%;border-collapse:collapse;border-spacing:0;display:table;}
tbody{display:table-row-group;}
table tbody tr:nth-child(2n+1){background-color:rgba(144,144,144,0.075);}
table tbody tr{border-color:rgba(144,144,144,0.25);border-style:solid;border-width:1px;border-left:0;border-right:0;display:table-row;}
table td{padding:0.75em 0.75em;}
.mytd{width:49%;text-align:left;}
.right{width:49%;text-align:right;}
.time{display:inline-block;width:48%;height:unset;}
.HH{display:inline-block;height:unset;width:48%;color:black;padding: 0;text-align: center;}
input[type='time']::-webkit-calendar-picker-indicator{-webkit-appearance:none;display:none;}
#prg{display:inline-block;width:100%;height:100%;}
#prgbar{width:100%;display:inline-block;text-align:right;}
#addprg{display:inline-block;margin:0 1em;cursor:pointer;}
#trashbig{font-size:2em;}
#del{font-size:1em;}
.trash:before{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;font-style:normal;font-weight:normal;text-transform:none !important;}
#delprg{position:absolute;width:90%;bottom:5px;display:none;cursor:pointer;}
.delop{height:3em}
#prgcli tr{cursor:pointer;}
#editprg{max-width:500px;padding:0 1em; margin:1em 0;overflow:hidden; display:none;cursor:pointer;width:90%;color:#1e2832;height:97%;border:solid;border-width:0 2px;}
#editprgtitle{text-align:left;margin:0;}
#nprgedit{height:auto;color:black;}
#prgdays ul{margin-bottom:0px;}
#prgHH{margin:2% 0 2% 0;width:100%;display:inline-block;}
#titletabla{margin:2% 0 2% 0;text-align:left;border:solid lightgrey;padding:0 0 1% 0;border-width:0 0 1px 0;}
.day{min-width:unset;cursor:pointer;font-size:0.8em;display:block;margin:0 0 1em 0;width:100%;}
.daylist{display:table;table-layout:fixed;margin-left:-0.5em;}
.daylist li{display:table-cell;padding:0 0 0 0.5em;cursor:pointer;}
.off{cursor:default;opacity:0.25;}
.editbutttons{padding:0.5em 0 0.5em 0;position:absolute;bottom:0;left:50%;transform:translateX(-50%);background-color:white;}
.switch{position:relative;display:inline-block;height:34px;margin:0 1em;}
.switch input{opacity:0;width:0;height:0;display:none;}
label{width:1em;height:1em;padding:0 1em;display:block;font-size:0.9em;font-weight:700;margin:0 0 1em 0;}
.sliderround{border-radius:34px;width:60px;position:absolute;cursor:pointer;top:0;left:0;right:0;bottom:0;background-color:#ccc;-webkit-transition:.4s;transition:.4s;}
input[type='checkbox']:checked+.sliderround{background-color:#2196F3;}
input[type='checkbox']:checked+.sliderround:before{content:'';-webkit-transform:translateX(26px);-ms-transform:translateX(26px);transform:translateX(26px);}
.sliderround:before{content:'';border-radius:50%;position:absolute;height:26px;width:26px;left:4px;bottom:4px;background-color:white;-webkit-transition:.4s;transition:.4s;}
.square{cursor:pointer;position:relative;}
input[type='checkbox']:checked+.square:before{content:'✔';}
.square:before{content:'';background-color:rgba(144,144,144,0.075);border-color:#51BAA4;color:#25383B;border-radius:4px;border-style:solid;border-width:1px;display:inline-block;height:2.1em;line-height:2.0125em;position:absolute;text-align:center;top:0;width:2.1em;-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;font-family:FontAwesome;font-style:normal;font-weight:normal;text-transform:none !important;}
footer{position:fixed;bottom:0;width:100%;background-color:#1E2832;color:rgba(255,255,255,0.75);text-align:center;height:35px;}
footer ul{margin-block-start:0;}
footer ul li{line-height:35px;}
/*-------------------------------------------------------------LOADER--------------------------------------------------------*/
.loader{border: 10px solid #f3f3f3;border-top: 10px solid #3498db;border-radius: 50%;width: 3em;left: 48%;position: absolute;height: 3em;animation: spin 2s linear infinite;padding: 0;}
#loader2{height: 5em;}
@keyframes spin {0%{transform:rotate(0deg);}100%{transform: rotate(360deg);}}